.toast-alert{
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 3s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 5s;
  position: relative;
}

@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}

.errMsg{
  background: rgb(214, 10, 10);
  color: #fff9;
  text-align: center;
  padding: 10px 0;
  letter-spacing: 1.3px;
}

.successMsg{
  background: rgb(9, 158, 54);
  color: #fff9;
  text-align: center;
  padding: 10px 0;
  letter-spacing: 1.3px;
}